<script src="/WEB-INF/js/jquery-3.2.1.slim.min.js"></script>
<script>
	resizeBody = function() {
		var newhei = $('#container').outerHeight() - $('#header').outerHeight()-$('#footer').outerHeight();
		$('#body').height(newhei);
	}
	$( window ).resize(resizeBody);
	$(document).ready(resizeBody);
</script>
