   <div id="footer">
		<span id="copyright">
			Safe Haven Hotels
		</span>
		<a id="supp" class="pageLink" href="mailto:Support@safeHotels.com">
			Support
		</a>
		<a id="about" class="pageLink" href="">
			about 
		</a>   
   </div>
</div>
</body>